name: Checks

on:
  push:
  workflow_dispatch:

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker images
        run: docker compose build

      - name: Run tests
        run: docker compose run --rm app python manage.py test

      - name: Run flake8
        run: docker compose run --rm app flake8 --config=.flake8

